.testo {
    text-align: left;
    background-color: #fff;
    margin: 60px 200px 300px 30px;
    font-size: 12pt;
}

.section0 {
    padding: 0px 0px 20px 0px; 
}

.section1 {
    padding: 0px 0px 20px 0px; 
}

.section2 {
    padding: 0px 0px 60px 0px;
}

